body {
	background-color: #E7E7E7;
}
.row {
	margin-bottom: 10px;
	font-size: 18px;
}
.navbar {
	border-radius: 0;
}
.navbar-brand {
	cursor:default;
}
.clearable{
	background: #fff url(https://i.stack.imgur.com/mJotv.gif) no-repeat right -10px center;
	border: 1px solid #999;
	padding: 3px 18px 3px 4px;
	border-radius: 3px;
}
.clearable.x  { background-position: right 10px center; }
.clearable.onX{ cursor: pointer; }
.clearable::-ms-clear {display: none; width:0; height:0;}
@media (max-width: 768px) {
	.btn-group-lg>.btn, .btn-lg {
		border-radius: 0;
	}
}