#main-container {
    padding-left: 10px;
    padding-right: 10px;
}

#success-box {
    margin-top: 20px;
}

#addRow {
    width: 100%;
    padding-left:20px;
    padding-right:20px;
}

#submit {
    width: 100%;
}

.titles {
    font-size: 30px;
}

#select-box {
    width: 100%;
    font-size: 40px;
}

#dropdown {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
}