body {
	background-image: url('img/graybackground.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.small-separate {
	padding-bottom: 10px;
}

.top-row {
	padding-top: 20px;
}

.slash {
	font-size: 25px;
}
.years {
	font-size: 20px;
}

.noWrap {
	white-space: nowrap;
}

.navTextColor {
	color: #9d9d9d;
}

.submitBtn {
	margin: 10px 0;
}