html,body {
    height:100%;
    background-color: #313131;
}
.btn {
	border-style: hidden;
	background-color: #313131;
	height: 15%;
	border-radius: 0;
}
.navbar {
	margin-bottom: 0;
}
a {
	color: #005CAC;
}
.btn-group-lg>.btn, .btn-lg {
	font-size: 20px;
}
