.navbar {
	width: 100%;
	height: 140px;
	padding: 20px 0 0;
	color: #11303C;
	margin: 0;
}

.navbar .top {
	display: inline-flex;
	width: 100%;
	justify-content: space-between;
	height: 75%;
	padding: 0 70px;
}

.navbar .searchwrapper {
	padding-top: 13px;
	white-space: nowrap;
}

.navbar .searchIcon {
	width: 15px;
	position: relative;
	height: 15px;
	left: 29px;
	top: 2px;
}

.navbar .searchbox {
	height: 35px;
	padding: 0 10px 0 30px;
	border: 1px solid #11303C;
	width: 230px;
	font-size: 14px;
}

.navbar .top .logo {
	width: 380px;
	height: 55px;
}

.navbar .checkout {
    display: inline-grid;
    padding: 0 15px;
    font-size: 12px;
    cursor: pointer;
}

.navbar .checkout img {
	height: 30px;
	margin: 0 auto;
}

.options {
	display: inline-flex;
	width: 100%;
	justify-content:
	space-evenly;
	height: 25%;
	padding: 0 50px;
}

.options span {
	cursor: pointer;
	font-size: 12px;
}

.options span:hover {
	border-bottom: 2px solid #0cc;
	color: #0cc;
}

.promo {
	width: 100%;
	background-color: #11303C;
	color: #FFFFFF;
	display: inline-flex;
	justify-content: center;
	padding: 10px 0;
}

.promo div {
	margin: 0 10px;
}

.promo .maincode {
	letter-spacing: -1px;
}

.promo .subcode {
	color: #A3B0B8;
	font-size: 14px;
}

h1 {
	color: #11303C;
	white-space: nowrap;
}

.row1 {
	display: inline-flex;
	width: 100%;
}

.column60 {
	width: 65%;
}

.column60 img {
	height: 100%;
	width: 100%;
}

.column40 {
	width: 35%;
	padding-top: 20px;
	text-align: center;
}

.column40 .horizontalRule {
	border-width: 3px;
	border-color: #11303C;
	margin: 10px 165px 5px;
}

.column40 div {
	font-size: 12px;
}

.column40 .shopButton {
	margin: 10px 0 20px;
	background-color: #11303C;
	color: #FFFFFF;
	padding: 8px 45px;
	border: none;
}

.column40 img {
	position: relative;
	float: right;
	width: 200%;
}