
/*outer most container*/
#description {
    height: 100%;
}
/*
---------------------------------------------------------------------
*/
/*contains download stuff*/
#downloadButton a:link {
    text-decoration: none;
}
#downloadButton a:visited {
    text-decoration: none;
}
/*
---------------------------------------------------------------------
*/
/*button for downloading*/
#downloadButton {
    background-color: black;
    border: 2px solid;
    border-color: #000;
    width: 100%;
    float: left;
}
/*button settings*/
#download {
    width: 100%;
    background-color: #400080 ;
    font-size: 100%;
    border: 1px solid;

}
.downloadText {
    font-size: 200%;
    color: white;
}
/*
---------------------------------------------------------------------
*/
/*fixes the image settings*/
#appPicture {
    height: 50%;
    border: 1px solid;
    border-color: black;
}

/*
---------------------------------------------------------------------
*/

/*where the text is going*/
#textPart {
    font-size: 20px;
    background-color: white;
    border: 2px solid;
    text-align: center;
    width: 100%;
    float: left;
    margin-top: 10px;
    margin-bottom: 10px;
}

#disclaimer {
    font-size: 20px;
    background-color: white;
    border: 2px solid;
    text-align: center;
    width: 100%;
    float: left; 
    margin-bottom: 50px;
    
}

/*
---------------------------------------------------------------------
*/

html {
    height: 100%; /* <------------ */
    background: rgba(255,21,0,1);
    background: -moz-linear-gradient(left, rgba(255,21,0,1) 0%, rgba(247,255,0,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,21,0,1)), color-stop(100%, rgba(247,255,0,1)));
    background: -webkit-linear-gradient(left, rgba(255,21,0,1) 0%, rgba(247,255,0,1) 100%);
    background: -o-linear-gradient(left, rgba(255,21,0,1) 0%, rgba(247,255,0,1) 100%);
    background: -ms-linear-gradient(left, rgba(255,21,0,1) 0%, rgba(247,255,0,1) 100%);
    background: linear-gradient(to right, rgba(255,21,0,1) 0%, rgba(247,255,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff1500', endColorstr='#f7ff00', GradientType=1 );
}

body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif
    text-align: justify;
    height: 100%; /* <------------ */
    background: rgba(255,21,0,1);
    background: -moz-linear-gradient(left, rgba(255,21,0,1) 0%, rgba(247,255,0,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,21,0,1)), color-stop(100%, rgba(247,255,0,1)));
    background: -webkit-linear-gradient(left, rgba(255,21,0,1) 0%, rgba(247,255,0,1) 100%);
    background: -o-linear-gradient(left, rgba(255,21,0,1) 0%, rgba(247,255,0,1) 100%);
    background: -ms-linear-gradient(left, rgba(255,21,0,1) 0%, rgba(247,255,0,1) 100%);
    background: linear-gradient(to right, rgba(255,21,0,1) 0%, rgba(247,255,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff1500', endColorstr='#f7ff00', GradientType=1 );
}