#downloadContainer {
    width: 100%;
}

#downloadButton {
    width: 50%;
    float: left;
    margin-right: 10px;
    height: 150%;
}

#appIcon {
    widows: 50%;
    float: left;
    height: 150%;
}

#appPicture {
    height: 150px;
}

#textPart {
    width: 100%;
    float: left;
}

#download {
    background-color: #400080 ;
    color: #fff;
    font-family: Consolas,monaco,monospace;
    font-size: 100%;
    height: 150px;
/*    padding: 100px;*/
    width: 100%;
    border-color: #000
}

#description {
    font-size: 100%;
    height: 100%;
}





a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

html {
    height: 100%; /* <------------ */
    background-color: #F6B101;
}

body {
    font-family: Consolas,monaco,monospace;
    text-align: justify;
    height: 100%; /* <------------ */
    background-color: #F6B101;
}