body,ul,li {
	padding:0;
	margin:0;
	border:0;
}
dd {
	display: list-item;
	list-style-type: disc;
}
body {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	background-color: #ffffff;
}
img {
	height: 15px;
	padding: 0 10px 0 10px;
}
.rightAlign {
	font-size: 14px;
	float: right;
	margin-right: 11px;
}
.rightAlign a {
	text-decoration:none;
	color:#9d9d9d;
}
.rightAlign a:hover {
	text-decoration:none;
	color:#FFFFFF;
}
#header{
	background-color:#222222;
	position:fixed; 
	z-index:2;
	top:0; left:0;
	width:100%;
	height:60px;
	padding-left:10px;
	font-size:20px;
	text-align:left;
	color:#9d9d9d;
	line-height:60px;
	width: 100%;
}
#wrapper {
	position:absolute; 
	top:60px; bottom:0; left:0;
	width:100%;
	background:#fff;
	overflow:auto;
}
#scroll-content {
	position:absolute; 
	width:100%;
	padding:0;
	overflow:auto;
}
ul {
	list-style:none;
	padding:0;
	margin:0;
	width:100%;
	text-align:left;
}
li {
	font-size: 14px;
	padding:0 10px;
	line-height:3.4;
	border-bottom:1px solid #ccc;
	border-top:1px solid #fff;
	background-color:#fafafa;
	white-space: nowrap;
	cursor: pointer;
}
li:hover {
	background-color:#EEEEEE;
}
.moreInfo {
	line-height: 2.13;
	background-color:#EEEEEE;
}
@media (max-width: 768px) {
	dd {
		white-space: normal;
	}
	img {
		height: 15px;
	}
	#header {
		position: static;
		width: 100%;
	}
	#wrapper {
		position: static;
	}
	li {
		font-size: 12px;
	}
/*	.rightAlign {
		margin-right: 11px;
	}*/
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
    li {
        line-height:20px;
    }
	.moreInfo {
		line-height: 25px;
	}
}