body {
	background-color: #303030;
	color: white;	
}
img {
	height: 33%;
}
h1 {
	margin: 0 0 30px 30px;
}
.marginRight {
	margin-bottom:10px;
}
/*@media (max-si) {
	.navbar-right {
		float: right;
	}
}*/