#rentmin, #rentmax, #neighborhoods, #parking, #minsize {
  text-align: center;
}

#bedrooms {
  text-align: right;
}

.row-form {
  background: #44bb3e;
  height: 70px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  color: #f7e7e7;
  font-size: 1em;
}

#search-btn{
  padding-top: 25px;
}
#map-canvas {
  height: 800px;
  width:100%;
} 
#results-row {
}

#results-header {
  font-weight: 50px;
  margin: 0;
  padding: 10px 0 10px 5px;
  background-color: #d5f1d5;
  border-bottom: 1px solid #848484;
  border-top: 1px solid black ;
}

#results-table {
  margin-bottom: 0; 
  border-bottom: 1px solid #848484;
}