#house {
	height: 400px;
	width: 400px;
	margin-top: 20px;
	margin-bottom: 20px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#mag {
	height: 400px;
	width: 400px;
	margin-top: 20px;
	margin-bottom: 20px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#uploader{
	color: black;
}

#search {
	border-right: 1px solid #d4d4d4;
	margin-top: 20px;
	margin-bottom: 20px;
}
#upload {
	margin-top: 20px;
	margin-bottom: 20px;
}