.mobile {
	display: none;
}

.hiddenToggle {
	display: none !important;
}

.navbar {
	width: 100%;
	height: 140px;
	color: #11303C;
	margin: 0;
}

.navbar .top {
	display: inline-flex;
	flex-wrap: wrap;
	width: 100%;
	justify-content: space-around;
}

.navbar .searchwrapper {
	padding-top: 13px;
	white-space: nowrap;
}

.navbar .searchIcon {
	width: 15px;
	position: relative;
	height: 15px;
	left: 29px;
	top: 2px;
}

.inputBox {
	height: 35px;
	padding: 0 10px 0 30px;
	border: 1px solid #11303C;
	width: 230px;
	font-size: 14px;
}

.navbar .top .logo {
	width: 380px;
	height: 55px;
}

.navbar .checkout {
	display: inline-grid;
	padding: 0 15px;
	font-size: 12px;
	cursor: pointer;
}

.navbar .checkout img {
	height: 30px;
	margin: 0 auto;
}

.options.desktop {
	display: inline-flex;
	width: 100%;
	justify-content: space-evenly;
	height: 25%;
	padding: 0 50px;
}

.options span {
	cursor: pointer;
	font-size: 12px;
}

.options span:hover {
	border-bottom: 2px solid #0cc;
	color: #0cc;
}

.promo {
	width: 100%;
	background-color: #11303C;
	color: #FFFFFF;
	display: inline-flex;
	justify-content: center;
	padding: 10px 0;
	flex-wrap: wrap;
}

.promo div {
	margin: 0 10px;
}

.promo .maincode {
	letter-spacing: -1px;
}

.promo .subcode {
	color: #A3B0B8;
	font-size: 14px;
}

h1 {
	color: #11303C;
	white-space: nowrap;
	text-transform: uppercase;
}

.row {
	margin-bottom: 30px;
	margin-right: 0;
	margin-left: 0;
	width: 100%;
}

.column60 {
	width: 65%;
}

.column60 img {
	height: 100%;
	width: 100%;
}

.column40 {
	width: 35%;
	padding-top: 20px;
	text-align: center;
}

.horizontalRule {
	border-width: 3px;
	border-color: #11303C;
}

.row1 .horizontalRule {
	margin: 10px 165px 5px;
}

.subheader {
	color: #11303C;
	font-size: 12px;
}

.shopButton {
	margin: 10px 0 20px;
	background-color: #11303C;
	color: #FFFFFF;
	padding: 6px 42px;
	border: 2px solid #11303C;
	text-transform: uppercase;
	cursor: pointer;
}

.shopButton:hover {
	color: #11303C;
	background-color: #FFFFFF;
}

.column40 img {
	position: relative;
	float: right;
	margin-top: 30px;
	width: 200%;
}

.row2 {

}

.row2 .headerSection {
	display: flex;
	flex-direction: column;
	padding-left: 60px;
}

.row2 .horizontalRule {
	margin: 0 0 15px;
	width: 85px;
}

.carousel {
	display: inline-flex;
	margin: 20px 0;
	overflow: hidden;
	width: 100%;
}

.carousel .innerCarousel {
	display: inline-flex;
	overflow-x: hidden;
	width: 100%%;
	margin: 0 60px;
}

.carousel .innerCarousel::-webkit-scrollbar {
    display: none;
}

.carousel .cell {
	margin: 0 20px;
}

.carousel .cell:first-of-type {
	margin-left: 0;
}

.carousel .cell:last-of-type {
	margin-right: 0;
}

.carousel .cellImage {
	height: 150px;
}

.carousel .cellText {
	color: #11303C;
	font-size: 14px;
	text-align: center;
	text-transform: uppercase;
}

.carouselNav {
	height: 50px;
	margin: 0 15px;
	position: absolute;
	top: 30%;
}

.carouselNav.left {
	left: 0;
}

.carouselNav.right {
	right: 0;
}

.buttonRow {
	display: inline-flex;
	justify-content: space-between;
	padding-right: 30px;
	width: 100%;
	flex-wrap: wrap;
	padding: 0 60px;
}

.overlaidImageText {
	position: relative;
}

.overlayHeader {
	position: absolute;
	top: 5%;
	left: 5%;
}

.overlayLink {
	position: absolute;
	bottom: 5%;
	left: 5%;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: bold;
	cursor: pointer;
}

.overlayLink:hover {
	color: #0cc;
}

.row3 .horizontalRule {
	margin: 0 0 15px;
	width: 125px;
}

.row3 .column40 {
	padding: 0 0 0 20px;
}

.column40 .responsiveRow1 {
	height: 60%;
}

.column40 .responsiveRow2 {
	height: 40%;
	padding: 30px;
}

.row3 .column40 img {
	height: 100%;
	width: 100%;
	margin-top: 0;
}

.row3 .table {
	display: flex;
	flex-direction: column;
	margin-bottom: 0;
	text-transform: uppercase;
}

.table .table-row {
	border-bottom: 1px solid #11303C;
	padding: 20px 0;
	cursor: pointer;
}

.table .table-row:first-of-type {
	border-top: 1px solid #11303C;
}

.table .table-row:hover {
	color: #0cc;
}

.column50 {
	position: relative;
	width: 50%;
}

.column50:last-of-type {
	text-align: right;
}

.column50 img {
	width: 98%;
}

.column50 .horizontalRule {
	margin: 0 0 15px;
	width: 115px;
}

.row5 {
	background-color: #F4F5F7;
	text-transform: uppercase;
	padding: 20px 0;
	margin-bottom: 0;
}

.row5 .column50 {
	display: flex;
	flex-direction: column;
	text-align: center;
}

.row5 .column50 img {
	width: 27px;
	margin: auto;
}

.storeLabel {
	margin: 10px 0;
	font-weight: bold;
	color: #11303C;
}

.row5 .shopButton {
	background-color: transparent;
	color: #11303C;
	margin: 25px auto;
}

.row5 .shopButton:hover {
	color: #F4F5F7;
	background-color: #11303C;
}

.emailInput .inputBox {
	border-width: 2px;
	padding: 18px 0 18px 10px;
}

.emailInput .shopButton {
	padding-left: 20px;
	padding-right: 20px;
	margin-left: 20px;
}

.row6 {
	background-color: #11303C;
	color: #F4F5F7;
	padding: 30px 80px 20px 80px;
	margin-bottom: 0;
}

.column20 {
	display: flex;
	flex-direction: column;
	font-size: 12px;
	width: 22%;
}

.row6 h1 {
	color: #FFFFFF;
	font-size: 20px;
}

.column20 span {
	margin: 5px 0;
	cursor: pointer;
}

.column20 span:hover {
	color: #0cc;
}

.inTheMedia {
	margin-top: 25px;
}

.columnThird {
	width: 33%;
	text-align: center;
	display: flex;
	flex-direction: column;
}

.supportButtons {
	display: inline-flex;
	flex-wrap: wrap;
	margin: 20px auto;
	justify-content: center;
}

.support {
	margin: 15px 30px;
	display: inline-flex;
	flex-direction: column;
	cursor: pointer;
}

.support img {
	height: 30px;
	width: 30px;
	margin: auto;
}

.copyright {
	background-color: #0cc;
	color: #11303C;
	text-transform: uppercase;
  padding: 10px 0 10px 10%;
	font-size: 12px;
}

.row7 {
	background-color: #11303C;
	color: #F4F5F7;
	margin-bottom: 0;
	flex-wrap: wrap;
	justify-content: space-evenly;
  padding: 15px 0;
}

.row7 h1 {
	color: #F4F5F7;
	font-size: 12px;
}

.socialMediaImages img {
	height: 25px;
	margin: 10px 25px;
	cursor: pointer;
}

.socialMediaImages img:first-of-type {
	margin-left: 0;
}

.row7 .emailInput {
	margin-bottom: 8px;
	position: relative;
}

.row7 .emailInput .inputBox {
	border-color: #0cc;
  width: 80%;
}

.row7 .shopButton {
	position: absolute;
	background-color: transparent;
	color: #0cc;
	border-color: #0cc;
	padding-top: 10px;
	padding-bottom: 10px;
	margin: 0 0 0 15px;
}

.row7 .shopButton:hover {
	background-color: #0cc;
	color: #11303C;
}

.clubOffer {
	color: #F4F5F7;
	text-transform: uppercase;
	font-size: 10px;
}

.terms {
	color: #FFFFFF;
}

@media (max-width: 900px) {
	.desktop {
		display: none;
	}

	.mobile {
		display: initial;
	}

	.horizontalRule {
		border-width: 5px;
		margin-bottom: 10px;
		margin-top: 10px;
	}

	.row1 .horizontalRule {
		margin-bottom: 10px;
	}

	.top {
		display: inline-flex;
		justify-content: space-around;
		width: 100%;
    padding: 0 10px;
	}

	.top img {
		height: 30px;
		width: 30px;
		margin: auto;
	}

	.top .menu img {
		height: 20px;
	}

	.top .icons {
		display: flex;
		justify-content: center;
		flex-direction: column;
		text-align: center;
		text-transform: lowercase;
		font-size: 12px;
		width: 20%;
		padding: 3px 0;
		cursor: pointer;
	}

	.icons.logo {
		text-transform: uppercase;
		text-decoration: underline;
		font-size: 43px;
		padding: 0;
		color: #FFFFFF;
		background-color: #11303C;
	}

	.top .icons:hover {
		color: #0cc;
	}

	.icons.logo:hover {
		color: #FFFFFF;
	}

	.icons.logo img {
		height: 50px;
    width: 40px;
	}

	.searchwrapper {
		left: 0;
		position: relative;
    width: 100%;
	}

	.searchwrapper .searchIcon {
		width: 15px;
    position: absolute;
    left: 8px;
    top: 16px;
	}

	.searchwrapper .inputBox {
		width: 100%;
		height: 45px;
	}

	.options {
		display: flex;
    flex-direction: column;
    padding-left: 32px;
    position: absolute;
    background-color: white;
    width: 100%;
	}

	.options span {
		margin: 5px 0;
	}

	.options span:hover {
		border-bottom: none;
	}

	.column60 {
		width: 100%;
	}

	.column40 {
		width: 100%;
		text-align: center;
	}

	.column40 img {
		display: none;
	}

	.row2 {
		padding: 0;
	}

	.row2 .headerSection {
		padding-left: 60px;
	}

	.row2 .horizontalRule {
		width: 65px;
	}

	.carousel .cellImage {
		height: 250px;
	}

	.row2 .buttonRow {
		padding: 0;
	}

	.shopButton {
		margin-left: auto;
    margin-right: auto;
    width: 60%;
    padding: 6px;
	}

	.row3 .overlayHeader,
	.row4 .overlayHeader {
		top: 10%;
	}

	.row3 h1,
	.row4 h1 {
		font-size: 28px;
	}

	.row3 .horizontalRule,
	.row4 .horizontalRule {
		width: 63px;
	}

	.row3 {
		margin-bottom: 0;
	}

	.responsiveRow1 {
		display: none;
	}

	.row3 .column40 {
		padding: 0;
	}

	.column50 {
		width: 100%;
		margin-bottom: 20px;
	}

	.column50:last-of-type {
		text-align: initial;
	}

	.column50 img {
		width: 100%;
	}

	.row4 {
		margin-bottom: 20px;
	}

	.row5 {
		padding: 30px 0;
	}

	.row5 .column50:last-of-type {
		margin-top: 90px;
		text-align: center;
	}

	.row5 .column50 img {
		height: 42px;
    width: 54px;
	}

	.row5 .shopButton {
		width: 120px;
    margin: 0 auto;
    padding: 10px 0;
	}

	.storeLabel {
		margin: 20px 0;
	}

	.emailInput {
		display: flex;
    flex-direction: column;
	}

	.emailInput .inputBox {
		margin: 0 auto 10px auto;
    width: 90%;
	}

	.row6 {
		background-color: #FFFFFF;
		color: #11303C;
		padding-bottom: 30px;
  	padding-left: 0;
		padding-right: 0;
	}

	.columnThird {
		width: 100%;
	}

	.columnThird h1 {
		color: #11303C;
    font-size: 25px;
	}

	.columnThird .horizontalRule {
		color: #11303C;
    width: 35px;
    margin-top: 0;
    margin-bottom: 20px;
	}

	.supportButtons {
		text-transform: lowercase;
    justify-content: space-evenly;
	}

	.support:hover {
		color: #0cc;
	}

	.support img {
		height: 45px;
    width: 50px;
    margin-bottom: 5px;
	}

	.row7 {
		background-color: #282828;
    padding: 17px 0;
	}

	.socialMediaContainer {
		width: 100%;
	}

	.socialMediaImages {
		width: 100%;
    display: flex;
    justify-content: space-between;
		padding: 0 10px;
	}

	.socialMediaImages img {
		height: 20px;
		margin: 10px 0;
		cursor: pointer;
	}

	.visit {
		border-top: 1px solid #11303C;
		padding-top: 20px;
		text-align: center;
		width: 100%;
	}

	.visit h1 {
		color: #11303C;
		font-size: 27px;
	}

	.visit .horizontalRule {
		width: 40px;
    margin-top: 0px;
		margin-bottom: 50px;
	}

	.cities {
		display: inline-flex;
		width: 100%;
		justify-content: space-between;
	}

	.city {
		display: flex;
		flex-direction: column;
		width: 33%;
		cursor: pointer;
	}

	.city:hover {
		color: #0cc;
	}

	.city img {
		width: 50px;
		margin: 0 auto;
	}
}
